body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
}

.logo,
button {
  font-size: 24px;
  color: #f9faf8;
}

.links {
  display: flex;
  gap: 24px;
  justify-content: end;
}

.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  height: 500px;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
}

.hero,
.logo,
.call {
  max-width: 500px;
  width: 500px;
}

.hero * {
  margin-bottom: 10px;
}

.title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-container img,
.links,
.button {
  width: 400px;
}

button {
  background-color: #3882f6;
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
}

.information {
  height: 420px;
  justify-content: center;
  align-items: center;
}

.information h2 {
  margin: 48px;
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.info-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.info-pair .text,
.info-pair img {
  text-align: center;
  width: 150px;
}

.info-pair img {
  border-radius: 25px;
}

.quote-section {
  height: 400px;
  padding: 0px 200px;
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-section p {
  margin: 0;
}

.author {
  align-self: flex-end;
}

.action-section {
  height: 400px;
  padding: 0px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  padding: 24px 0px;
  border-radius: 25px;
  color: #f9faf8;
}

.call,
.button {
  box-sizing: border-box;
  padding: 0px 50px;
}

.call p {
  font-size: 26px;
  margin: 0;
}

.button {
  text-align: right;
}

.action button {
  border: 1px solid #f9faf8;
}

.footer {
  height: 100px;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}