body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
}

.logo, button {
  font-size: 24px;
  color: #f9faf8;
}

.links {
  display: flex;
  gap: 24px;
}

.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  height: 500px;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  max-width: 500px;
}

.hero * {
  margin-bottom: 10px;
}

.title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

img {
  width: 400px;
}

button {
  background-color: #3882f6;
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
}